*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
html{
    padding: 0px;
    border: 0px;
    margin: 0px;
    color: #2e405b;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 17%);
    height: auto;
    background: 
        linear-gradient(to right, #ccc 1px, transparent 1px),
        linear-gradient(to bottom, #ccc 1px, transparent 1px);
    background-repeat: repeat;
    background-size: 18px 18px;
}
h1,h2,h3,h4,h5{
    display: block;
    margin: 0px;
}

h2:hover{
    cursor: pointer;
    color: deepskyblue;
}
p{
    /* display: block;
    left: 15px; */
    margin: 0px;
    margin-left: 2rem;
    /* -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;   */
}
div{
    position: relative;
}
b{
    display: inline;
}
span{
    background-color: burlywood;
}
span:hover{
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
.box{
    margin: auto;
    display: flex;
    flex-direction:column;
}
.box2{
    margin: 2px;
    display: flex;
    flex-direction:row;
}
.part-content{
    display: none;
}
.h2btn{
    padding: 0px;
    border: 0px;
    margin: 0px;
    margin-left: 1vw;
    text-align: center;
    display:inline-block;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    font-size: 70%;
    font-weight: bold;
    background-color:rgb(97, 190, 9);
    align-self:center;
}
#root{
    position: relative;
    display: block;
    position: absolute;
    left: 8%;
    top: 5vh;
    width: 80%;
    margin: auto;
    border: 2px black;
    padding: 2%;
    background-color:rgb(78, 175, 130);
    box-shadow: 18px 18px 0px rgb(109, 97, 96);
}
#origin{
    cursor: pointer;
}
#originLabel{
    display:none;
    position:absolute;
    width: 60px;
    height: auto;
    background-color: darkgray;
    cursor:default;
    z-index: 999;
    color: rgb(207, 22, 22);
}
